*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
}
.hidden {
	display: none;
}
.carousel img {
	width: 100%;
	height: auto;
}
.parallax {
	background-attachment: fixed;
	background-position: 50% 0;
	position: relative;
}

/** 
	Custom  styles 
*/

/* Общие правила */

* {
	box-sizing: border-box;
}

.button {
	height: 50px;
	padding: 0 25px;
	display: inline-block;
	vertical-align: middle;
	background-color: #d12f22;
	border-bottom: 3px #ac160a solid;
	font-size: 20px;
	line-height: 50px;
	color: #fff;
	font-family: "BebasRegular";
}

.button:hover {
	/*background-color: #d92f22;*/
	background-color: #ac160a;
	color: #fff;
	transition: .3s;
	text-decoration: none;
}


/* header */ 

.header {
	min-height: 644px;
	margin-top: -12px;
	padding-top: 12px;
	position: relative;
	background: url('../img/header_bg.jpg') repeat-x top center;
	font-family: 'BebasBold';
}

.header a {
	color: #fff;
}

.header strong {
	color: #c82d21;
	display: block;
	font-weight: normal;
	font-size: 33px;
}

/* header__top-line */

.header__top-line {
	padding: 24px 0 16px;
	box-shadow: rgba(255,255,255,.2) 0 0 0 1px;
	background-color: rgba(0,0,0,.6);
	transition: .5s;
	position: relative;
}

@keyframes slideUp {
	0% { top: 0;}
	100% { top: -100vh; }
}

.header__top-line_up {
	position: fixed;
	left: 0;
	width: 100%;
	height: 100px;
	animation: slideUp 1s forwards;
	z-index: 100;
}


@keyframes slideDown {
	0% { top: -100vh;}
	100% { top: 0; }
}

.header__top-line_fixed {
	position: fixed;
	top: -100vh;
	left: 0;
	width: 100%;
	height: 80px;
	padding-top: 15px;
	animation: slideDown .6s forwards;
	z-index: 100;
	background-color: rgba(42,42,42,.95);
	border-bottom: 2px solid red;
}

.header__top-line_fixed .header__logo {
	width: 180px;
	padding-top: 8px;
}

.header__top-line_fixed .header__logo img {
	width: 100%;
}

.header__top-line a {
	font-size: 22px;
}

.header__address {
	padding-left: 46px;
	line-height: 29px;
	background: url('../img/top_map_icon.png') no-repeat top left;
}

.header__logo {
	position: relative;
	width: 240px;
	margin: auto;
}

.header__logo a {
	position: absolute;
	margin-top: -20px;
}

.header__phone {
	text-align: right;
	line-height: 29px;
}

.header__phone span {
	color: #fff;
}

/* END header__top-line */

h1 {
	font-size: 40px;
	color: #fff;
	text-align: center;
	margin-top: 72px;
	text-shadow: rgba(0,0,0,0.75) 0 2px;
}

h2 {
	margin-top: 35px;
}

/* header__buttons */


.header__buttons {
	width: 100%;
	position: absolute;
	bottom: 30px;
}

.header__buttons .button {
	margin-right: 20px;
}

.header__button-icon {
	padding-top: 8px;
	padding-left: 62px;
	line-height: 18px;
	text-align: left;
	background: url('../img/camera_icon.png') no-repeat 8px 8px;
	background-color: #d12f22;
}


.top-nav {
	height: 62px;
	background-color: #242424;
	box-shadow: rgba(255,255,255,.2) 0 0 0 1px;
	font-family: "BebasRegular";
}

.top-nav__item {
	padding-left: 0;
	padding-right: 0;
}

.top-nav__item:nth-child(1) {
	padding-left: 15px;
} 

.top-nav__item a {
	color: #fff;
	font-size: 20px;
	padding: 0 26px 0 60px;
	display: block;
	height: 62px;
	line-height: 62px;
	border-left: #3b3b3b 1px solid;
	background-image: url('../img/nav_icons.png');
	background-repeat: no-repeat;
	background-position: 20px 19px;
}


.top-nav__item:nth-child(2) a {
	background-position: 20px -68px;
}
.top-nav__item:nth-child(3) a {
	background-position: 20px -168px;
}
.top-nav__item:nth-child(4) a {
	background-position: 20px -293px;
}
.top-nav__item:nth-child(5) a {
	background-position: 20px -376px;
}
.top-nav__item:nth-child(6) a {
	background-position: 20px -452px;
}

.top-nav__item a:hover {
	background-color: #333;
}

.top-nav__item.active a {
	background-color: #050505;
}

.waranty {
	border: 3px solid #fff;
	border-radius: 3px;
	color: #fff;
	cursor: default;
	float: right;
	font-size: 15px;
	padding: 3px 5px;
	line-height: 16px;
	margin-top: 8px;
}

.w_left, .w_right {
	display: inline-block;
	vertical-align: top;
}

.w_left {
	font-family: "BebasBold";
	font-size: 20px;
	margin-top: 10px;
	margin-right: 8px;
}

.w_left span {
	font-size: 34px;
}

.w_right {
	font-family: "RobotoCondensedRegular";
}

.main-cats {
	background-color: #191919;
	padding: 20px 0 50px;
	position: relative;
}

.main-cats h2,
.art-header {
	color: #c9c9c9;
	font-family: "BebasRegular";
	font-size: 40px;
	text-align: center;
	letter-spacing: 1px;
}

.main-cats h2::before {
	background-image: url("../img/header_img_line.png");
	content: "";
	height: 20px;
	width: 50px;
	position: absolute;
	top: 50px;
	margin-left: -72px;
}

.main-cats h2::after {
	background-image: url("../img/header_img_line.png");
	background-position: 50px 0;
	content: "";
	height: 20px;
	width: 50px;
	position: absolute;
	top: 50px;
	margin-left: 20px;
}

.main-cats h2 strong {
	color: #fff;
}

.main-cats h2 span {
	color: #d12f22;
}

/* main-cats__item */

.main-cats__wrap {
	text-align: center;
	margin: 0;
	padding: 0;
	position: relative;
}

.main-cats__wrap li > ul {
	display: none;
}

.main-cats__item-wrap {
	margin-left: 22px;
	width: 160px;
	display: inline-block;
	text-align: center;
	margin-top: 22px;
	border: 1px solid #353535;
    border-radius: 2px;
}

.main-cats__item-wrap:nth-child(1) {
	margin-left: 0;
}

/* .main-cats__item {
	border: 1px solid #353535;
	border-radius: 2px;
} */


.main-cats__item-wrap a {
	color: #fff;
}

.main-cats__item h4 {
	margin: 10px 0;
	font-family: "BebasBold";
	font-size: 18px;
	font-weight: normal;
}

.main-cats__item-wrap a:hover h4,
.main-cats__item-wrap.active h4 {
	text-decoration: underline;
}

body .main-cats__item-wrap > ul {
	position: absolute;
	left: 15px;
	margin: 0;
	padding: 15px 0 5px;
	width: 100%;
	margin-top: 30px;
	list-style-type: none;
	font-family: "BebasRegular";
	background-color: #353535;
	z-index: 1;
}

.main-cats__item-wrap.active > ul li {
	display: inline-block;
	font-size: 20px;
	margin-bottom: 10px;
}

.main-cats__item-wrap.active > ul li a {
	padding: 0 8px;
	text-decoration: underline;
}

.main-cats__item-wrap.active > ul li a:hover {
	text-decoration: none;
}

.main-cats__item-wrap.active,
.main-cats__item-wrap:hover {
	background-color: #2a2a2a;
}

.main-cats__item span {
	display: block;
	height: 86px;
	width: 120px;
	margin: 10px auto;
	background-image: url('../img/cats_icons.png');
}

.main-cats__item-wrap:nth-child(1) span {
	background-position: 5px 0;
}

.main-cats__item-wrap:nth-child(2) span {
	background-position: -115px 0;
}

.main-cats__item-wrap:nth-child(3) span {
	background-position: -237px 0;
}

.main-cats__item-wrap:nth-child(4) span {
	background-position: -356px 0;
}

.main-cats__item-wrap:nth-child(5) span {
	background-position: -475px 0;
}

.main-cats__item-wrap:nth-child(6) span {
	background-position: -598px 0;
}

.main-cats__toggle {
	background-color: #212121;
	height: 26px;
	position: relative;
	cursor: pointer;
	background-image: url('../img/arrows_icon.png');
	background-repeat: no-repeat;
	background-position: 74px -22px;
}

.main-cats__item-wrap:hover .main-cats__toggle,
.main-cats__item-wrap.active .main-cats__toggle  {
	background-color: #353535;
	background-position: 74px 8px;
}

.main-cats__button-wrap {
	margin-top: 50px;
	text-align: center;
}

/**
	article.content
*/

article.content {
	background-color: #e9e9e9;
}

article.content h2::before {
	background-image: url("../img/art-header_img_line.png");
	content: "";
	height: 20px;
	width: 50px;
	position: absolute;
	top: 50px;
	margin-left: -72px;
}

article.content h2::after {
	background-image: url("../img/art-header_img_line.png");
	background-position: 50px 0;
	content: "";
	height: 20px;
	width: 50px;
	position: absolute;
	top: 50px;
	margin-left: 20px;
}

article.content .art-header {
	color: #050505;
	margin-bottom: 10px;
}

.h-desc {
	max-width: 790px;
	margin: auto;
	text-align: center;
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 600;
    margin-bottom: 40px;
}

/**
	home_items
*/

.home-items {
	background-color: #d6d6d6;
	padding: 30px 0;
	padding-top: 50px;
}

.home-items__item {
	margin-bottom: 50px;
}

.home-items__item img {
	max-width: 100%;
	border-top: 8px solid #ac160a;
}

.home-items__item p {
	padding-top: 20px;
	font-size: 14px;
	color: #050505;
	text-align: center;
	font-family: "Roboto";
	font-weight: 600;
}

.s-bottom {
	padding-top: 32px;
}

.s-bottom__header h2 {
	margin: 0;
	font-family: "BebasRegular";
	font-size: 36px;
	line-height: 50px; 
}

.s-bottom__header.button-cont {
	text-align: right;
}

.s-bottom img {
	max-width: 90%;
	position: absolute;
	bottom: 0;
}

.s-bottom__content {
	margin-top: 30px;
}


.go-to-up {
	width: 100px;
	height: 100px;
	position: absolute;
	bottom: 120px;
	right: 20px;
	z-index: 100;
	border-radius: 50%;
	background: rgba(0,0,0, .4);
	transition: .3s;
	animation: pulse 2s infinite forwards;
	background: transparent;
	cursor: pointer;
}

@keyframes pulse {
	0% {transform: scale(1); background: transparent;}
	33% {transform: scale(1.2); background: rgba(0,0,0, .4);}
}

@keyframes pulse-hover {
	0% {transform: scale(1); background: transparent;}
	33% {transform: scale(1.2); background: rgba(255, 127, 80, .4)}
}


.go-to-up:hover {
	background: rgba(255, 127, 80, .4);
	animation: pulse-hover 2s infinite forwards;
	background: transparent;	
}

.go-to-up::after {
	content: '';
	width: 50%;
	height: 50%;
	position: absolute;
	top: 25%;
	left: 25%;
	border-radius: 50%;
	background: rgba(0,0,0, .7);
	background-image: url('../img/up.svg');
}

/* footer */

footer {
	background-color: #2a2a2a;
	color: #fff;
	padding: 28px 0 35px;
	font-family: "BebasBold";
	font-size: 20px;
}

footer a {
	color: #fff;
}

.footer-menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;	
}

.footer-menu ul li {
	float: left;
}

footer a {
	padding: 0 10px;
	text-decoration: underline;
}

footer a:hover {
	text-decoration: none;
}

