/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	.header__top-line .header__address {
		background: none;
		padding-left: 0;
	}

	.header__top-line .row div:nth-child(2) {
		order: 1;
	}

	.main-cats h2::before,
	.main-cats h2::after {
		display: none;
	}

	article.content h2::before,
	article.content h2::after {
		display: none;
	}

}

@media only screen and (max-width : 576px) {
	
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	
	.header {
		min-height: 100vh;
		background-size: cover;
	}

	.header strong {
		font-size: 18px;
	}

	.header__top-line {
		padding: 14px 0 10px;
	}

	.header__top-line a {
		font-size: 12px;
	}

	.header__phone,
	.header__address {
		line-height: 17px;
	}

	.header__logo {
		width: 200px;
	}

	.header__logo a {
		margin-top: -25px;
    	width: 50%;
    	left: 25%;
	}

	.header__logo a img {
		width: 100%;
	}

	h1 {
		font-size: 20px;
		margin-top: 58px;
	}

	.header__buttons {
		bottom: 20px;
	}

	.header__buttons .button {
		margin-right: 15px;
	}

	.button {
		height: 43px;
	    padding: 0 22px;
	    display: inline-block; 
	    font-size: 14px;
	    line-height: 44px;
	}

	.header__button-icon {
	    padding-top: 7px;
	    padding-left: 62px;
	    line-height: 15px;
	    background-color: #d12f22;
	    background-position-y: 5px;
	}

	.top-nav {
		min-height: 100vh;
	}

	.top-nav__item {
		padding-left: 0;
		padding-right: 0;
	}

	.top-nav__item:nth-child(1) {
		padding-left: 0;
	} 

	.top-nav__item a {
		border-left: 0;
		border-bottom: #3b3b3b 1px solid;
	}

	.top-nav__item:nth-child(3) a,
	.top-nav__item:nth-child(6) a {
		background-position-x: 26px;
	}

	.main-cats h2, .art-header {
		font-size: 20px;
	}
	
	.main-cats__item-wrap {
		margin-left: 0;
	}

	.waranty {
		margin: 12vh auto;
	}

	body .main-cats__item-wrap > ul {
		left: 0;
	}

	h2.art-header {
		font-size: 16px;
	}

	.h-desc {
		font-size: 11px;
	}

	.s-bottom__header h2 {
		text-align: center;
		font-size: 25px;
	}

	.s-bottom__header.button-cont {
		text-align: center;
		padding-top: 10px;
	}

	.s-bottom img {
		width: 100%;
		position: relative;
		margin-bottom: 20px;
	}

	.s-bottom__content p {
		font-size: 14px;
	}

	.footer .row>div:nth-child(1) {
		margin-bottom: 20px;
	}

	.footer .row>div:nth-child(2) {
		padding-left: 6px;
	}

	.footer .row>div:nth-child(2) li {
		margin-bottom: 10px;
	}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

@media only screen and (min-width : 576px) {
	
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}