/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	.header__top-line .header__address {
		background: none;
		padding-left: 0;
	}

	.header__top-line .row div:nth-child(2) {
		order: 1;
	}

	.main_cats h2::before,
	.main_cats h2::after {
		display: none;
	}

	article.content h2::before,
	article.content h2::after {
		display: none;
	}


}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	
	.header {
		min-height: 390px;
		background-size: cover;
	}

	.header strong {
		font-size: 16px;
	}

	.header__top-line {
		padding: 14px 0 10px;
	}

	.header__top-line a {
		font-size: 10px;
	}

	.header__phone,
	.header__address {
		line-height: 16px;
	}

	.header__logo {
		width: 160px;
	}

	.header__logo a {
		margin-top: -18px;
    	width: 50%;
    	left: 25%;
	}

	.header__logo a img {
		width: 100%;
	}

	h1 {
		font-size: 20px;
		margin-top: 34px;
	}

	.button {
		height: 43px;
	    padding: 0 22px;
	    display: inline-block; 
	    font-size: 14px;
	    line-height: 44px;
	}

	.header__button-icon {
	    padding-top: 6px;
	    padding-left: 62px;
	    line-height: 15px;
	    background-color: #d12f22;
	    background-position-y: 5px;
	}

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}