/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
		.top-nav__item a {
			border: none;
			border-right: 1px solid #3b3b3b;
		}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.header__top-line .header__address {
		background: none;
		padding-left: 0;
	}

	.top-nav__item a {
		border: #3b3b3b 1px solid;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {


	.main-cats h2::before,
	.main-cats h2::after {
		display: none;
	}

	article.content h2::before,
	article.content h2::after {
		display: none;
	}

}

@media only screen and (max-width : 767px) {
	.header__top-line .row div:nth-child(2) {
		order: 1;
	}
}

@media only screen and (max-width : 576px) {
	.header {
		min-height: calc(90vh + 50px);
	}

	.header strong {
		font-size: 22px;
		margin-bottom: 5px;
	}

	.header__top-line {
		padding: 14px 0 10px;
	}

	.header__top-line a {
		font-size: 16px;
	}

	.header__phone,
	.header__address {
		line-height: 17px;
	}

	.header__logo {
		/*width: 180px;*/
		width: 33%;
	}

	.header__logo a {
		/*margin-top: -15px;
    	width: 50%;
    	left: 25%;*/
    	margin-top: -44px;

	    width: 100%;
	    left: 0%;
	}

	.header__logo a img {
		width: 150px;
	}

	h1 {
		font-size: 30px;
	    background-image: linear-gradient(to right, rgba(0,0,0,.02) 15%, rgba(0,0,0,.1) 25%, rgba(0,0,0,.7) 40%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.02) 100%);
	    padding: 15px 5% 10px;
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    margin: 100px auto;
	    width: 95%;
	}

	.main-cats h2 {
		width: 70%;
		margin-left: auto;
		margin-right: auto;
	}

	.go-to-up {
		bottom: 170px;
	}
}

@media screen and (max-width: 575px) {
	.s-bottom__header h2 {
		text-align: center;
		font-size: 35px;
	}

	.s-bottom__header.button-cont {
		padding-top: 10px;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 480px) {

	h1 {
		margin: 170px auto;
	}

	.header__buttons {
		bottom: 20px;
	}

	.header__logo {
		width: 100%;
	}

	.header__logo a {
		margin-top: 35px;
		width: 100%;
		text-align: center;
	}

	.header__logo a img {
		width: 200px;
	}

	.header__buttons .button {
		margin-right: 15px;
	}

	.button {
		height: 43px;
	    padding: 0 22px;
	    display: inline-block; 
	    font-size: 14px;
	    line-height: 44px;
	}

	.s-bottom .button {
		height: 50px;
	    padding: 3px 25px 0;
	    font-size: 19px;
	}

	.header__button-icon {
	    padding-top: 7px;
	    padding-left: 62px;
	    line-height: 15px;
	    background-color: #d12f22;
	    background-position-y: 5px;
	}

	.top-nav {
		height: auto;
	}

	.header__top-line_fixed .header__logo {
		display: none;
	}

	.top-nav__item {
		padding-left: 0;
		padding-right: 0;
	}

	.top-nav__item:nth-child(1) {
		padding-left: 0;
	} 

	.top-nav__item a {
		border-left: 0;
		border-bottom: #3b3b3b 1px solid;
	}

	.top-nav__item:nth-child(3) a,
	.top-nav__item:nth-child(6) a {
		background-position-x: 26px;
	}

	.main-cats h2, .art-header {
		font-size: 30px;
	    width: 70%;
	    margin: 35px auto 20px;
	}
	
	.main-cats__item-wrap {
		margin-left: 0;
	}

	.waranty {
		margin: 30px auto;
	}

	/*h2.art-header {
		font-size: 16px;
	}

	.h-desc {
		font-size: 11px;
	}*/

	.s-bottom__header h2 {
		font-size: 30px;
	}

	.s-bottom img {
		width: 100%;
		position: relative;
		margin-bottom: 20px;
	}

	.s-bottom__content p {
		font-size: 14px;
	}

	.footer .row>div:nth-child(1) {
		margin-bottom: 20px;
	}

	.footer .row>div:nth-child(2) {
		padding-left: 6px;
	}

	.footer .row>div:nth-child(2) li {
		margin-bottom: 10px;
	}

	.go-to-up {
		bottom: 220px;
	}
}


@media screen and (max-width: 360px) {
	.s-bottom__header h2 {
		font-size: 26px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 320px) {

}



/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

@media only screen and (min-width : 576px) {
	.header__top-line_fixed {
		height: 85px;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	h1 {
		margin-top: 110px;
	}
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

/* */

@media screen and (min-width: 576px) and (max-width: 768px) {
	.s-bottom__content .row .col-left {
		align-items: flex-start;
	}
}


@media screen and (min-width: 577px) and (max-width: 768px) {
	.header__logo a {
		margin-top: -44px;
    	text-align: center;
	}

	.header__top-line_fixed .header__logo a {
		margin-top: -55px;
	}

	.header__logo a img {
		width: 70%;
	}
}



@media screen and (min-width: 769px) {
	.header__top-line_fixed .header__logo a {
		margin-top: 4px;
	}
}

@media screen and (min-width: 768px) and (max-width: 992px) {

	/*.header__logo a {
		margin-top: 16px
	}*/
}

@media screen and (min-width: 870px) and (max-width: 1040px) {
	.main-cats__item-wrap {
		width: 200px;
	}
}

@media screen and (max-width: 376px) {
	.main-cats__item-wrap {
		width: 280px;
		margin-bottom: 10px;
	}

	.main-cats__toggle {
		background-position: 50% -22px;
	}

	.main-cats__item-wrap.active .main-cats__toggle {
		background-position: 50% 8px;
	}
}

@media screen and (max-width: 340px) {
	.main-cats h2 {
		width: 75%;
	}
}

@media screen and (min-width: 481px) {
	.footer-menu {
		margin-left: -10px;
	}
}

@media screen and (min-width: 576px) and (max-width: 640px) {
	.s-bottom__header h2 {
		font-size: 32px;
	}
}
@media screen and (width: 768px) {
	.header__logo {
		margin-top: 60px;
	}
}